body {
    background-color: #242D34;
}

header{
    width: 650px;
    height: 500px; 
    margin: auto;
    background-color:  gray;
    border-radius: 25px; 
    overflow: scroll;
}

.symbolcont {
    width: 200px; ;
    margin: auto;  
}

header h1 {
    color: white;
    text-align: center; 
}

.link{
    width: 40%;
    text-align: center;
    background-color:  whitesmoke;
    padding: 11px;
    margin-top: 10px;
    margin-left: 220px;
    border-radius: 20px; 
}

.link a{
     color:   black;
     text-decoration: none;
     font-size: 15px;
     text-align: center;
}

.link1 {
    width: 40%;
    text-align: center;
    background-color:#FFFFFF;
    padding: 11px;
    margin-top: 20px;
    margin-left: 220px;
    border-radius: 20px;
}

.link1 a{
     color:   black;
     text-decoration: none;
     font-size: 15px;
}

.box input{
    width: 40%;
    margin: 10px;
    margin-top: 18px;
    margin-left: 220px;
    padding: 13px 18px;
    background-color: #000000;
}

.link2 {
    width: 40%;
    text-align: center;
    background-color: #D7DBDC;
    padding: 11px;
    margin-top: 20px;
    margin-left: 220px;
    border-radius: 20px;
}

.link2 a{
     color:   black;
     text-decoration: none;
     font-size: 15px;
}

.link3 {
    width: 40%;
    text-align: center;
    padding: 11px;
    margin-top: 20px;
    margin-left: 220px;
    border-radius: 20px;
    background-color: #181919;
}

 .link3 a{
     color:   white;
}
header p{
    text-align: center;
    color: #484B4E;
}
header p a{
    color: #1D9BF0;
}