

* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body { 
    font-family: inter;
    background-color: #010313;
    color: white;
    /* line-height: 1.6; */
}



/*Navbar*/

.navbar {
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #010313; 
}

.logo {
    font-weight: bold;
    font-size: 28px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
   
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.login-btn {
    font-family: inter;
    padding: 8px 20px;
    background: transparent; 
    border: 1px solid #2458b3;
    color: white;
    border-radius: 5x;
    cursor: pointer;
    font-size: 17px; 
}

/*Hero Section*/

.hero {
    text-align: center;
    padding: 100px 20px;
    /* max-width: 900px; */
    margin: 0 auto;
}

.hero h1 {  
   font-size: 34px; 
   font-weight: bold;
   margin-bottom: 20px;
}

.hero p { 
    color: #aaa;
    margin-bottom: 30px;
    font-size: 16px;
}

.email-box {
    display: flex;
    justify-content: center; 
}

.email-box input {
    padding:  10px;
    width: 300px;
    padding-left: 10px; 
}

.cta-btn {
    background-color: #2945FF;
    border: none;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 13px; 
    margin-left: 4px;
    gap: 0px;
}

/*Learn*/
.learn{
   text-align: center;
   padding: 60px 20px;
   background-color: #010313; 
}


.learn h2 { 
font-family: Inter;
font-weight: 700;
font-size: 30px;
leading-trim: NONE;
line-height: 80.5px;
letter-spacing: 0px;
text-align: center;

}


.learn p {
    color: #aaa;
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
    flex-wrap: wrap;
    top: 90px;
}

.card { 
    padding: 40px;
    border: 1px solid #E5E5E533;
    border-radius: 8px;
    width: 250px;
}

.card h3 {
    font-family: Inter;
font-weight: 600;
font-size: 14px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
text-align: center;

}

.card p {  
 font-family: Inter;
font-weight: 200;
font-size: 10px;
leading-trim: NONE;
line-height: 24px; 
text-align: center; 

} 

.card img {
    width: 30px;
    height: 30px;
}

/*How it works*/

.how {  
     text-align: center;
     padding: 80px 20px; 
     background-color: #5A3FC41A;
}

.how h2{ 
    font-size: 19px; 
 }

 .steps {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px;
    flex-wrap: wrap;
 }
 .step {  
    width: 200px;
    padding: 10px;  
    border-radius: 7px;
 }

 .step img {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
 }

 .how h4{
    font-size: 12px;
    margin-bottom: 15px; 
 }

 .how p {
    color: #aaa;
    margin-bottom: 30px;
    font-size: 10px;
 }

 .testimonials { 
    text-align: center;
    padding: 80px 20px; 
    background-color: #010313;
 }

 .testimonials h2 {
    font-size: 26px;
    margin-bottom: 10px;
 }

 .testimonials p {
    color: #aaa;
    font-size: 10px; 
    font-weight: 400px; 

 }

 .testimonial {  
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 40px;
    flex-wrap: wrap;
 }

 .testimonial img {
    width: 200px;
    border-radius: 8px; 
 } 

 .text {
    max-width: 400px;
    text-align: left;
 }

 .text h4 {
    font-size: 18px;
    margin-bottom: 5px;
 }

 .text p {
    color: #aaa;
    font-size: 8px;
 } 
 
.join {
    justify-content: center; 
    text-align: center;
    padding: 80px;
    gap: 40px;

}

.join h2 { 
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;  
    margin-bottom: 8px;
}

.join p {
    color: #aaa;
    font-size: 10px; 
}

.email-join input {  
    
    padding:  8px;
    width: 300px;
    padding-left: 10px; 
}

.btn-join {
    background-color: #2945FF;
    border: none;
    color: white;
    padding: 9px 20px;
    cursor: pointer;
    font-size: 13px; 
    margin-left: 4px;
    gap: 0px; 
    margin-top: 20px;
    margin-bottom: 10px;
}

 